{% extends 'layout.html' %}
{% load static %}
{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="container" style="height: 600px">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h1>Pameec Luxury Hotel</h1>
                        <p>Step into a world of unrivaled luxury and personalized service, where every detail is crafted to exceed your expectations.</p>
                        <a href="{% url 'reserve_room' %}" class="primary-btn">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{% static 'landingtools/img/hero/x2.jpg'%}"></div>
            <div class="hs-item set-bg" data-setbg="{% static 'landingtools/img/hero/x3.jpg'%}"></div>
            <div class="hs-item set-bg" data-setbg="{% static 'landingtools/img/hero/x5.jpg'%}"></div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Us Section Begin -->
    <section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span>About Us</span>
                            <h2>Pameec Luxury Suite <br />A Multi Branch Hotel</h2>
                        </div>
                        <p class="f-para">
                            Discover the epitome of luxury at Pameec Luxury Suite, the premier multi-branch accommodation hotel in Abuja, Nigeria. 
                            Our commitment to your exclusive comfort sets us apart. 
                            Book your ideal hotel, vacation apartment, or guest house with us and experience the excellence that has delighted millions of global travelers.
                            </p>
                        <a href="{% url 'about'%}" class="primary-btn about-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{% static 'landingtools/img/about/x2.png'%}" alt="">
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static 'landingtools/img/about/x4.png'%}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->

    <!-- Services Section End -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>What We Do</span>
                        <h2>Discover Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-026-bed"></i>
                        <h4>Accommodation</h4>
                        <p>
                            Unrivaled luxury and exceptional service await at Pameec Luxury Suite, your ultimate destination for indulgent accommodations in Abuja, Nigeria.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-033-dinner"></i>
                        <h4>Catering Service</h4>
                        <p>
                            Savor perfection with Pameec Catering, your premier choice for exquisite culinary experiences that elevate every occasion to new heights.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-012-cocktail"></i>
                        <h4>Bar & Drink</h4>
                        <p>
                            Elevate your spirits at Pameec Bar, the trendy hotspot where crafted cocktails, vibrant ambiance, and unforgettable moments come together.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-024-towel"></i>
                        <h4>Laundry</h4>
                        <p>
                            Revitalize your wardrobe with Pameec Laundry, the trusted name in meticulous fabric care and impeccable laundry services. Unleash freshness today!
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-044-clock-1"></i>
                        <h4>Car Hire</h4>
                        <p>
                            Embark on a seamless journey with Pameec Car Hire, your gateway to reliable transportation, convenience, and unforgettable adventures on the road.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-036-parking"></i>
                        <h4>Internet</h4>
                        <p>
                            Stay connected effortlessly with Pameec's Lightning-Fast Free WiFi, ensuring seamless browsing, streaming, and sharing for an enhanced digital experience.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Home Room Section Begin -->
    <section id="rooms" class="hp-room-section">
        <div class="container-fluid">
            <div class="hp-room-items">
                <div class="row">
                    <div class="col-lg-2 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'landingtools/img/room/Standard.jpg'%}">
                            <div class="hr-text">
                                <h3>Standard Room</h3>
                                <h2>₦ 20,000<span>/Pernight</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>30 ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion 2</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>Single Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="{% url 'reserve_room' %}" class="primary-btn">Book</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'landingtools/img/room/business.jpg'%}">
                            <div class="hr-text">
                                <h3>Business Room</h3>
                                <h2>₦ 25,000<span>/Pernight</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>30 ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion 3</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>Single Bed</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="{% url 'reserve_room' %}" class="primary-btn">Book</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'landingtools/img/room/Luxury.jpg'%}">
                            <div class="hr-text">
                                <h3>Luxury Room</h3>
                                <h2>₦ 30,000<span>/Pernight</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>30 ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion 3</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>Double Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="{% url 'reserve_room' %}" class="primary-btn">Book</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'landingtools/img/room/execut.jpg'%}">
                            <div class="hr-text">
                                <h3>Executive Room</h3>
                                <h2>₦ 35,000<span>/Pernight</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>30 ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion 4</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>Double Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="{% url 'reserve_room' %}" class="primary-btn">Book</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'landingtools/img/room/x6.jpg'%}">
                            <div class="hr-text">
                                <h3>Diplomatic Room</h3>
                                <h2>₦ 40,000<span>/Pernight</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>30 ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion 5</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="{% url 'reserve_room' %}" class="primary-btn">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Room Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Testimonials</span>
                        <h2>What Customers Say?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="testimonial-slider owl-carousel">
                        <div class="ts-item">
                            <p>After our construction ordeal, 
                                Pameec Luxury Suite provided the perfect sanctuary for my family's temporary stay.
                                 Highly recommended!</p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5> - Ola Adenuga</h5>
                            </div>
                        </div>
                        <div class="ts-item">
                            <p>Pameec Luxury Suite exceeded our expectations during our temporary stay. 
                                A hidden gem in Abuja that we can't wait to revisit.</p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5> - Obasi Ekene</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <div class="testimonial-slider owl-carousel">
                                    <div class="ts-item">
                                        <p>Exquisite accommodations and top-notch service. 
                                            Pameec Hotel knows how to make guests feel pampered and valued.</p>
                                        <div class="ti-author">
                                            <div class="rating">
                                                <i class="icon_star"></i>
                                                <i class="icon_star"></i>
                                                <i class="icon_star"></i>
                                                <i class="icon_star"></i>
                                                <i class="icon_star-half_alt"></i>
                                            </div>
                                            <h5> - Omawunmi Aminat</h5>
                                        </div>
                                    </div>
                                     <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <div class="testimonial-slider owl-carousel">
                                    <div class="ts-item">
                                        <p>Exquisite accommodations and top-notch service. 
                                            Pameec Hotel knows how to make guests feel pampered and valued.</p>
                                        <div class="ti-author">
                                            <div class="rating">
                                                <i class="icon_star"></i>
                                                <i class="icon_star"></i>
                                                <i class="icon_star"></i>
                                                <i class="icon_star"></i>
                                                <i class="icon_star-half_alt"></i>
                                            </div>
                                            <h5> - Omawunmi Aminat</h5>
                                        </div>
                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Hotel Gallery</span>
                        <h2>Our Facilities</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="{% static 'landingtools/img/blog/f6.jpg'%}"></div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="{% static 'landingtools/img/blog/f4.JPEG'%}"></div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="{% static 'landingtools/img/blog/f0.jpg'%}"></div>
                </div>
                <div class="col-lg-8">
                    <div class="blog-item small-size set-bg" data-setbg="{% static 'landingtools/img/blog/f1.jpg'%}"></div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item small-size set-bg" data-setbg="{% static 'landingtools/img/blog/fq.JPEG'%}"> </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->


    {% endblock %}